# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Environment files
.env

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Kubernetes Manifests (Ignore local deployment with production keys)
k8s/deployment.yaml